*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    padding: 1rem 0.5rem;
    background-color: #f5f5dc;
}

#botaoClose{
    visibility: hidden;
    height: 0;
    width: 0;
}

i{
    font-size: 1.5rem;
    color: rgb(36, 27, 27);
    font-weight: bold;
}

#botao{
    padding: 0.25rem;
    border-radius: 4px;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all ease-out 0.5s;
}

.opcoes{
    visibility: hidden;
    height: 0;
}

.opcoes a{
    color: #c4c4c4;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap: 1rem;
    background-color: gray;
    padding: 1rem;
    margin-bottom: 1rem;
    background-image: radial-gradient(circle at 75.43% 75.43%, #c9c2ff 0, #919cff 25%, #3c78f2 50%, #0059e3 75%, #0041d4 100%);
    border-radius: 8px;
}

.containerContatos{
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.contatos{
    display: flex;
    gap: 1rem;
}

.contatos i{
    font-size: 1.5rem;
    color: #2d2d2d;
}

.logo, .search{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.title{
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    color: #c4c4c4;
    font-weight: bold;
}

.search{
    background-color: white;
    width: 100%;
    height: 40px;
    padding: 0 1.5rem;
    border-radius: 8px;
    justify-content: space-evenly;
    cursor: text;
}

.search input{
    outline: none;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.card{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    gap: 1rem;
    margin-top: 1rem;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.404);
    background-image: radial-gradient(circle at 75.43% 75.43%, #c9c2ff 0, #919cff 25%, #3c78f2 50%, #0059e3 75%, #0041d4 100%);
    transition: all ease-in-out 0.3s;
}

.card:hover{
    transform: scale(1.5);
}
.main img{
    width: 100%;
    height: 15rem;
    object-fit: calc(100%);
    background-position: center;
}

.main p{
    font-weight: bold;
    color: #2d2d2d;
}

footer{
    position: absolute;
    bottom: 0.5rem;
    border-radius: 8px;
    background-color: #c4c4c4;
    width: calc(100% - 1rem);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-image: radial-gradient(circle at 75.43% 75.43%, #c9c2ff 0, #919cff 25%, #3c78f2 50%, #0059e3 75%, #0041d4 100%);
}

.something{
    visibility: hidden;
    width: 0;
    height: 0;
}

footer span{
    font-size: 1rem;
}

footer .contatos{
    display: flex;
    gap: 1rem;
}

@media (min-width: 769px){
    header{
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
    }

    .containerContatos{
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        gap: 1.5rem;
    }
    
    .contatos{
        display: flex;
        gap: 1.5rem;
    }
    
    .contatos i{
        font-size: 2rem;
        color: #2d2d2d;
    }

    .search{
        width: 25rem;
    }

    .main{
        display: flex;
        justify-content: center;
    }

    .card{
        width: 15rem;
    }

    footer span{
        font-size: 1.3rem;
    }
}

@media (min-width: 600px){
    .main{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .something{
        visibility: visible;
        height: auto;
        width: auto;
    }
}